
# courtest of / inspired by : https://stackoverflow.com/a/21573406

# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
.vscode/*
.vs/*
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.ide-wal
.vs/Simple-Random-Map-Generator/v15/Server/sqlite3/storage.ide-shm
.vs/Simple-Random-Map-Generator/v15/Server/sqlite3/storage.ide
.vs/Simple-Random-Map-Generator/v15/Server/sqlite3/storage.ide-shm
.vs/Simple-Random-Map-Generator/v15/Server/sqlite3/storage.ide-shm
*.ide
*.ide-shm
*.ide
